PINTEREST_ACCESS_TOKEN=
PINTEREST_REFRESH_TOKEN=
PINTEREST_CLIENT_ID=1577016
PINTEREST_CLIENT_SECRET=
PINTEREST_REDIRECT_URI=http://localhost:8080/callback
PINTEREST_API_BASE=https://api.pinterest.com/v5
